@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700');

body {
    background-color: #eff5fc;
    font-family: "Roboto Condensed", 'Helvetica', Arial, serif;
}

a:visited,
a {
    text-decoration: none;
    color: #ea3031;
}

.hocwp-theme > .site,
.container {
    width: 1100px;
    margin: 0 auto;
    background-color: #fff;
}

.hocwp-theme > .site {
    -webkit-box-shadow: 1px 1px 30px 3px #7ea5cd;
    -moz-box-shadow: 1px 1px 30px 3px #7ea5cd;
    box-shadow: 1px 1px 30px 3px #7ea5cd;
}

.site-branding {

}

.site-title {
    margin: 0;
}

.site-description {
    display: none;
}

.primary-menus {
    background-color: #ff3c00;
}

.primary-menus > ul > li {
    float: left;
    border-right: 1px solid #e53600;
    border-left: 1px solid #ff6232;
}

.primary-menus > ul > li:last-child {
    border-right: none;
}

.primary-menus > ul > li > a {
    color: #fff;
    line-height: 45px;
    text-transform: uppercase;
    font-weight: 700;
}

.primary-menus > ul > li > a:hover,
.primary-menus > ul > li.current-menu-item > a {
    background-color: #cc3000;
}

.primary-menus > ul > li:hover,
.primary-menus > ul > li.current-menu-item {
    border-left: none;
    border-right: none;
}

.main-slider:not(.slick-initialized) > *:not(:first-child) {
    display: none;
}

.main-slider img {
    display: block;
}

.main-slider .slick-arrow {
    background: url(../images/arrow-circle.png) no-repeat scroll left center;
    background-color: transparent;
    width: 30px;
    height: 30px;
    border: none;
    box-shadow: none;
    position: absolute;
    top: 50%;
    margin-top: -15px;
    left: 10px;
    color: transparent;
    font-size: 8px;
    z-index: 499;
    opacity: 0.5;
}

.main-slider .slick-next {
    right: 10px;
    left: auto;
    background-position: right center;
}

.main-slider .slick-prev {

}

.main-slider .slick-arrow:hover {
    opacity: 1;
}

.site-content {
    margin-top: 20px;
}

.content-area {
    width: calc(100% - 330px);
    float: right;
    margin-right: 10px;
}

.error404 .content-area,
.page .content-area,
.single .content-area {
    width: calc(100% - 340px);
}

.content-area + .sidebar {
    float: left;
    width: 300px;
    margin-left: 10px;
}

.content-area,
.content-area + .sidebar {
    margin-bottom: 20px;
}

.sidebar .widget {
    font-size: 14px;
}

.sidebar .widget-title {
    background-color: #ff3c00;
    color: #fff;
    padding: 8px 20px;
    text-transform: uppercase;
    font-size: 17px;
    margin: 0;
}

.sidebar .widget > * {
    border: 1px solid #ddd;
}

.sidebar .widget > .widget-title {
    border: none;
}

.sidebar .widget > .widget-title + * {
    border-top: none;
}

.sidebar .widget li {
    padding: 5px 0;
    border-bottom: 1px dotted #ccc;
}

.sidebar .widget {
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.sidebar .widget li a {
    text-transform: uppercase;
    font-weight: 700;
}

.sidebar .widget a {
    color: #666;
}

.sidebar .widget p {
    margin-top: 0;
    margin-bottom: 10px;
}

.sidebar .widget p:last-child {
    margin-bottom: 0;
}

.sidebar .widget li:hover {
    background-color: #f5f4f4;
}

.sidebar .widget:not(.widget_nav_menu) > *:not(.widget-title) {
    padding: 10px;
}

.sidebar .hocwp-post {
    margin-bottom: 10px;
    border-bottom: 1px dotted #CCC;
    padding-bottom: 10px;
}

.sidebar .hocwp-post:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

.loop-posts.list .wp-post-image,
.sidebar .hocwp-post .wp-post-image {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 2px;
}

.module-header > h2 {
    background: #ff3c00;
    display: inline-block;
    margin: 0;
    padding: 6px 10px;
    color: #FFF;
    font-size: 14px;
    text-transform: uppercase;
}

.module > .module-header {
    border-bottom: 2px solid #ff3c00;
    margin-bottom: 10px;
}

.module-header > h2 a {
    color: #fff;
}

.loop-posts.grid .hocwp-post,
.home .loop-posts .hocwp-post {
    width: 33.33%;
    display: inline-block;
    vertical-align: top;
    padding: 10px;
}

.loop-posts.grid .hocwp-post > .inner,
.home .loop-posts .hocwp-post > .inner {
    -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.04);
    -moz-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.04);
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.04);
}

.loop-posts.grid .hocwp-post > .inner,
.home .loop-posts .hocwp-post > .inner {
    border: 1px solid #e5e5e5;
    padding: 5px;
    border-radius: 4px;
}

.loop-posts.grid .hocwp-post .post-title,
.home .loop-posts .hocwp-post .post-title {
    margin: 0;
    text-align: center;
    font-size: 16px;
}

.loop-posts .post-title a {
    color: #696969;
}

.loop-posts.grid .hocwp-post .wp-post-image,
.home .loop-posts .wp-post-image {
    width: 100%;
    display: block;
    max-width: 100%;
    max-height: 200px;
    margin-bottom: 10px;
}

.loop-posts.list .wp-post-image {
    float: left;
    margin-right: 10px;
    max-width: 200px;
    height: auto;
    width: 200px;
    max-height: 162px;
}

.loop-posts.list .post-title {
    clear: none;
    margin-top: 0;
    font-size: 20px;
    margin-bottom: 5px;
}

.loop-posts.list .hocwp-post {
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.loop-posts.list .hocwp-post:first-child {
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.loop-posts.list .hocwp-post .entry-summary p:last-child {
    margin-bottom: 0;
}

.site-main .loop-posts {
    margin-left: -10px;
    margin-right: -10px;
}

.site-main .loop-posts.list {
    margin: 0;
}

.loop-posts.list .post-meta {
    border: none;
    color: #999;
    font-size: 14px;
}

.hocwp-breadcrumb {
    border-bottom: 1px dashed #666;
    margin-bottom: 15px;
    padding-bottom: 5px;
}

.home .hocwp-breadcrumb {
    display: none;
}

h1.post-title {
    margin-top: 0;
    font-size: 30px;
    line-height: 31px;
}

.home h1.post-title {
    text-align: center;
}

h1.post-title + .entry-content {
    margin-top: 0;
}

.entry-content h2 {
    border-bottom: 1px dotted #ccc;
    color: #ff3c00;
    padding-bottom: 5px;
}

.why-us {
    border-top: 1px dashed #666;
    padding: 0 10px;
    margin-bottom: 15px;
}

.why-us > h3 {
    color: #666;
    text-transform: uppercase;
    margin-top: 5px;
    margin-bottom: 10px;
}

.google-maps iframe {
    width: 100%;
}

.post-meta {
    border-top: 1px dotted #ccc;
    border-bottom: 1px dotted #ccc;
    color: #333;
}

.post-meta > * {
    display: inline-block;
    vertical-align: top;
    margin-top: 2px;
    margin-right: 10px;
}

.post-meta .cats {
    background-color: #666;
    color: #fff;
    padding: 2px 10px;
    margin-top: -1px;
    margin-bottom: -1px;
}

.post-meta .cats a {
    color: #fff;
}

.post-meta i {
    margin-right: 8px;
    font-size: 14px;
}

.hocwp-post .term-links {
    border-top: 1px dotted #ccc;
    padding: 10px 0;
}

.hocwp-post .term-links span {
    margin-right: 5px;
}

hr.diamond {
    background: url(../images/hr.png) no-repeat scroll center;
    height: 20px;
    width: 100%;
    margin: 30px 0;
}

.single .hocwp-breadcrumb + .hocwp-post {
    border-bottom: 3px double #ea3031;
    padding-bottom: 20px;
}

.related-posts > h3 {
    text-transform: uppercase;
    text-align: center;
    border-bottom: 1px dashed #666;
    padding-bottom: 10px;
}

.term-description {
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.term-description {
    border: 1px solid #DFDCDC;
    padding: 0 20px;
}

.site-footer {
    background: #202020;
    color: #999;
    padding: 20px 0;
    font-size: 14px;
    line-height: 25px;
}

.site-footer .widget {
    width: 33.33%;
    float: left;
    border-right: 1px dotted #666;
    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 0;
}

.site-footer .widget:nth-child(n+4) {
    margin-top: 20px;
}

.site-footer .widget-title {
    color: #fff;
    text-transform: uppercase;
    margin-top: 0;
}

.site-footer a {
    color: #999;
}

.site-footer i {
    margin-right: 5px;
}

.related-posts > h3,
h1.post-title,
.loop-posts .post-title a:hover,
.sidebar .widget li:hover a,
.site-footer a:hover {
    color: #ea3031;
}

.widget_tag_cloud a {
    background-color: #353535;
    color: #fff;
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 5px;
    padding: 0 10px;
    border-radius: 5px;
    font-size: 12px !important;
}

/*
 * Responsive
 */

@media only screen and (max-width: 1403px) {

}

@media only screen and (max-width: 1240px) {

}

@media only screen and (max-width: 1100px) {

}

@media only screen and (max-width: 1024px) {

}

@media only screen and (max-width: 980px) {

}

@media only screen and (max-width: 955px) {

}

@media only screen and (max-width: 880px) {

}

@media only screen and (max-width: 800px) {

}

@media only screen and (max-width: 780px) {

}

@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 740px) {

}

@media only screen and (max-width: 720px) {

}

@media only screen and (max-width: 640px) {

}

@media only screen and (max-width: 620px) {

}

@media only screen and (max-width: 600px) {

}

@media only screen and (max-width: 568px) {

}

@media only screen and (max-width: 563px) {

}

@media only screen and (max-width: 549px) {

}

@media only screen and (max-width: 534px) {

}

@media only screen and (max-width: 480px) {

}

@media only screen and (max-width: 360px) {

}

@media only screen and (max-width: 338px) {

}

@media only screen and (max-width: 330px) {

}

@media only screen and (max-width: 320px) {

}

@media print {

}