.hocwp-theme .clearfix {
    display: block;
}

.hocwp-theme .text-gray {
    --text-opacity: 1 !important;
    color: #b8c2cc !important;
    color: rgba(184, 194, 204, var(--text-opacity)) !important;
}

.hocwp-theme .text-sm {
    font-size: .875rem !important;
}

.hocwp-theme .whitespace-normal {
    white-space: normal !important;
}

.hocwp-theme .text-orange {
    --text-opacity: 1 !important;
    color: #e1642e !important;
    color: rgba(225, 100, 46, var(--text-opacity)) !important;
}

.hocwp-theme .inline {
    display: inline !important;
}

.hocwp-theme .cursor-pointer {
    cursor: pointer !important;
}

.postbox .inside .hocwp-theme input.disabled,
.postbox .inside .hocwp-theme input:disabled,
.postbox .inside .hocwp-theme select.disabled,
.postbox .inside .hocwp-theme select:disabled,
.postbox .inside .hocwp-theme textarea.disabled,
.postbox .inside .hocwp-theme textarea:disabled {
    padding: 0 8px;
    line-height: 2;
    min-height: 30px;
    border-radius: 4px;
    border: 1px solid #7e8993;
}

.hocwp-theme .mt-4 {
    margin-top: 1rem !important;
}

.hocwp-theme .justify-between {
    -webkit-justify-content: space-between;
    justify-content: space-between !important;
}

.hocwp-theme .flex {
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Chrome */
    display: flex !important; /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

.hocwp-theme .m-0 {
    margin: 0 !important;
}

.hocwp-theme .items-center {
    align-items: center !important;
}

.hocwp-theme .w-4 {
    width: 1rem !important;
}

.postbox .inside .hocwp-theme button.copy {
    background: transparent;
    border: none;
    cursor: pointer;
}

.postbox .inside .hocwp-theme button.copy svg {
    margin-right: 2px;
}

.hocwp-theme .media-box[data-media-type="file"] p label,
.hocwp-theme .media-box[data-media-type="file"] .media-url {
    vertical-align: top;
}

.hocwp-theme .buttons .button + .button,
.hocwp-theme .inline-fields .button + .button {
    margin-left: 20px;
}

#side-sortables .hocwp-theme .images-box {
    position: relative;
    padding-bottom: 40px;
}

#side-sortables .hocwp-theme .images-box .insert-medias {
    margin-top: 10px;
}

#side-sortables .hocwp-theme .images-box .remove-medias {
    position: absolute;
    bottom: 5px;
    right: 0;
    margin: 0;
    top: auto;
}

.inside .hocwp-theme {
    box-sizing: border-box;
}

.hocwp-theme .settings-box td label {
    font-style: italic;
}

.hocwp-theme .multiple-fields .field-row label + select,
.hocwp-theme .settings-box td label + input:not(.button):not([type="button"]),
.hocwp-theme label + select + .chosen-container {
    margin-top: 4px;
}

.edit-post-meta-boxes-area .postbox .hocwp-theme {
    box-sizing: border-box;
}

/*
.hocwp-theme fieldset {
    border: 1px solid #ddd;
    padding: 0 10px;
}

#side-sortables .hocwp-theme fieldset {
    border: none;
    padding: 0;
}
*/

.hocwp-theme td > fieldset {
    border: none;
    padding: 0;
}

.hocwp-theme fieldset legend {
    margin-top: -5px;
    padding: 0 5px;
}

.hocwp-theme .clearfix:after,
.hocwp-theme .clearfix:before {
    content: "";
    display: table;
    clear: both;
}

#activity-widget #the-comment-list li:not(.comment) .dashboard-comment-wrap {
    padding-left: 63px;
}

#activity-widget #the-comment-list li:not(.comment) .dashboard-comment-wrap p.comment-author {
    margin-top: 0;
}

.widget .hocwp-theme label + .clearfix {
    margin-top: 2px;
}

.widget .hocwp-theme > div {
    margin: 1em 0;
}

#adminmenu li.current + li a[href="themes.php?page=hocwp_theme&tab=extension"] {
    display: none;
}

.hocwp-theme .wp-picker-holder {
    position: absolute;
    z-index: 499;
}

.hocwp-theme .wp-picker-input-wrap > label {
    margin: 0 5px 5px !important;
}

.hocwp-theme .wp-picker-input-wrap > label + .wp-picker-clear {
    height: 30px;
}

.hocwp-theme .wp-picker-container button.wp-color-result[style*="background"] {
    color: #fff;
}

.hocwp-theme textarea[data-code-editor="1"] + .CodeMirror-wrap,
.widget textarea[data-code-editor="1"] + .CodeMirror-wrap {
    border: 1px solid #eee;
}

.widget .hocwp-theme .tab-pane:not(.active) {
    display: none;
}

.menu-item .custom-fields.hocwp-theme {
    margin-bottom: 10px;
    overflow: hidden;
    clear: both;
    margin-right: 10px;
}

.menu-item .custom-fields.hocwp-theme > * {
    margin-top: 2px;
    margin-bottom: 5px;
}

.menu-item .custom-fields.hocwp-theme label {
    font-style: italic;
}

.menu-item .custom-fields.hocwp-theme .custom-sortable {
    margin-top: 20px;
    clear: both;
}

.menu-item .custom-fields.hocwp-theme .sortable-inner {
    margin: 10px 0;
    overflow: hidden;
}

.menu-item .custom-fields.hocwp-theme ul.sortable {
    width: 100%;
}

.menu-item .custom-fields.hocwp-theme .media-box {
    border: 1px solid #ddd;
    padding: 0 10px;
}

.hocwp-theme .content-image-box * + .media-box,
.hocwp-theme .settings-box td input[type="url"] + .media-box,
.media-box + input[type="url"] {
    margin-top: 15px;
}

.link-php #poststuff .stuffbox .inside,
.link-add-php #poststuff .stuffbox .inside {
    padding: 8px 10px;
}

#megamenu-grid .mega-col .mega-col-widgets .widget .widget-title-action {
    margin-top: 1px;
}

.widget-content .hocwp-theme fieldset {
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 5px 15px;
}

.hocwp-theme .wp-media-buttons.images-box {
    width: 100%;
}

.hocwp-theme .wp-media-buttons.images-box .add_media span.wp-media-buttons-icon:before {
    content: "\f161";
}

.hocwp-theme .wp-media-buttons.images-box .add_media.remove-images span.wp-media-buttons-icon:before {
    content: "\f158";
}

.wp-core-ui .customize-control-content .button-group.button-small .button,
.wp-core-ui .customize-control-content .button.button-small {
    height: 30px;
    margin-left: 5px;
}

.hocwp-theme .images-box .list-images {
    border: 1px dashed #ccc;
    margin-top: 10px;
    min-height: 72px;
    padding: 8px;
}

.hocwp-theme .images-box .list-images li {
    display: inline-block;
    width: 113px;
    height: auto;
    vertical-align: top;
    margin: 0;
    padding: 5px;
    cursor: pointer;
    position: relative;
    box-sizing: border-box;
    border: 1px solid transparent;
}

.hocwp-theme .images-box[data-column="3"] .list-images li,
.hocwp-theme .images-box[data-column="4"] .list-images li,
.hocwp-theme .images-box[data-column="5"] .list-images li,
.hocwp-theme .images-box[data-column="6"] .list-images li {
    display: block;
    float: left;
}

.hocwp-theme .images-box[data-column="3"] .list-images li {
    width: 33.33%;
}

.hocwp-theme .images-box[data-column="4"] .list-images li {
    width: 25%;
}

.hocwp-theme .images-box[data-column="5"] .list-images li {
    width: 20%;
}

.hocwp-theme .images-box[data-column="6"] .list-images li {
    width: 16.66%;
}

.hocwp-theme .images-box[data-column="3"] .list-images li:nth-child(3n+1),
.hocwp-theme .images-box[data-column="4"] .list-images li:nth-child(4n+1),
.hocwp-theme .images-box[data-column="5"] .list-images li:nth-child(5n+1),
.hocwp-theme .images-box[data-column="6"] .list-images li:nth-child(6n+1) {
    clear: both;
}

.hocwp-theme .images-box .list-images li.ui-state-highlight {
    border: 1px dashed #ddd;
}

.hocwp-theme .images-box .list-images li img {
    max-width: 100%;
    padding: 0;
    max-height: 60px;
    height: 60px;
    display: block;
    width: 100%;
    opacity: 0.75;
    float: left;
    border: 1px solid #ddd;
    transition: background-color .2s ease-in-out;
}

.hocwp-theme .images-box .list-images li img:hover {
    border: none;
    background: #f0f0f1;
    box-shadow: inset 0 0 15px rgba(0, 0, 0, .1), inset 0 0 0 1px rgba(0, 0, 0, .05);
}

.hocwp-theme .images-box[data-column="3"] .list-images li img {
    max-height: 180px;
    height: 180px;
}

.hocwp-theme .images-box[data-column="4"] .list-images li img {
    max-height: 140px;
    height: 140px;
}

.hocwp-theme .images-box[data-column="5"] .list-images li img {
    max-height: 100px;
    height: 100px;
}

.hocwp-theme .images-box[data-column="6"] .list-images li img {
    max-height: 80px;
    height: 80px;
}

.hocwp-theme .images-box.auto-height .list-images li img {
    max-height: none !important;
    height: auto !important;
}

.hocwp-theme .images-box .list-images li:hover img {
    opacity: 1;
}

.hocwp-theme .images-box .list-images .dashicons {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 999999;
    display: none;
    color: #f00;
}

.hocwp-theme .images-box .list-images li:hover .dashicons {
    display: block;
}

.hocwp-theme .list-layout {
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Chrome */
    display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.hocwp-theme .list-layout label {
    float: left;
    width: 49%;
    position: relative;
    margin-right: 0;
    margin-bottom: 30px;
    vertical-align: top;
    overflow: hidden;
    border: 1px solid #ddd;
    align-self: self-start;
}

.hocwp-theme .list-layout label {
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Chrome */
    display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

.hocwp-theme .list-layout input[type="radio"] {
    position: absolute;
    left: 10px;
    top: 10px;
    border: 1px solid orange;
    z-index: 499;
}

.hocwp-theme .list-layout img {
    max-width: 100%;
    height: auto;
    min-height: 100%;
    object-fit: contain;
}

.hocwp-theme .list-layout br {
    display: none;
}

.hocwp-theme .field-row:after,
.hocwp-theme .field-row:before {
    content: "";
    display: table;
    clear: both;
}

.hocwp-theme .field-row p.label {
    margin-bottom: 20px;
}

.hocwp-theme .multiple-fields .field-row {
    box-shadow: inset 0 2px 0 #fff;
    padding-bottom: 15px;
}

.hocwp-theme .inline-fields .field-row {
    box-shadow: none;
}

.hocwp-theme .multiple-fields .field-row:first-child {
    box-shadow: none;
}

.hocwp-theme .multiple-fields .field-row ~ .field-row {
    margin-top: 0;
    border-top: 1px solid #eee;
    padding-top: 15px;
}

.hocwp-theme .multiple-fields .field-row label {
    display: block;
    clear: both;
    margin-bottom: 10px;
}

.hocwp-theme .multiple-fields[data-columns="2"] .field-row:not(.full-row) {
    float: left;
    width: 48%;
    margin-right: 2%;
}

.hocwp-theme .inline-fields > * {
    display: inline-block;
    vertical-align: top;
    width: auto;
    padding: 0 !important;
    border: none !important;
}

.hocwp-theme .inline-fields > * ~ * {
    margin-left: 10px;
}

/*--------------------------------------------------------------
# Modal content
--------------------------------------------------------------*/
#hocwpThemeModal.modal {
    display: none;
    position: fixed;
    z-index: 999999;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}

#hocwpThemeModal.modal > .inner {
    position: relative;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#hocwpThemeModal.modal > .inner,
#hocwpThemeModal.modal > .modal-footer,
#hocwpThemeModal.modal > .modal-header,
#hocwpThemeModal.modal > .modal-caption,
#hocwpThemeModal.modal > .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 1000px;
    background-color: #fff;
    overflow: hidden;
    box-sizing: border-box;
}

#hocwpThemeModal.modal > .inner > .modal-footer,
#hocwpThemeModal.modal > .inner > .modal-header,
#hocwpThemeModal.modal > .inner > .modal-caption,
#hocwpThemeModal.modal > .inner > .modal-content,
#hocwpThemeModal.modal > .inner.padding,
#hocwpThemeModal.modal > .modal-footer,
#hocwpThemeModal.modal > .modal-header,
#hocwpThemeModal.modal > .modal-caption,
#hocwpThemeModal.modal > .modal-content {
    padding: 20px;
}

#hocwpThemeModal.modal.medium > .inner,
#hocwpThemeModal.modal.medium > .modal-footer,
#hocwpThemeModal.modal.medium > .modal-header,
#hocwpThemeModal.modal.medium > .modal-caption,
#hocwpThemeModal.modal.medium > .modal-content {
    width: 40%;
    max-width: 800px;
}

#hocwpThemeModal.modal.small > .inner,
#hocwpThemeModal.modal.small > .modal-footer,
#hocwpThemeModal.modal.small > .modal-header,
#hocwpThemeModal.modal.small > .modal-caption,
#hocwpThemeModal.modal.small > .modal-content {
    width: 20%;
    max-width: 400px;
}

#hocwpThemeModal.modal .modal-content * {
    max-width: 100%;
}

#hocwpThemeModal.modal .modal-caption {
    text-align: center;
    color: #ccc;
    line-height: 1.3;
}

#hocwpThemeModal.modal .modal-caption.text-left {
    text-align: left;
}

#hocwpThemeModal.modal .modal-caption {
    background-color: #f1f1f1;
    border-bottom: 1px solid #e1e1e1;
}

#hocwpThemeModal.modal .modal-caption:first-child {
    border-radius: 5px 5px 0;
}

#hocwpThemeModal.modal .modal-caption h2,
#hocwpThemeModal.modal .modal-caption h3 {
    margin: 0;
}

#hocwpThemeModal.modal .modal-caption p {
    margin: 0;
}

#hocwpThemeModal.modal.inline-submit p.submit {
    margin: 0;
    padding: 0;
    display: inline-block;
}

#hocwpThemeModal.modal > .inner,
#hocwpThemeModal.modal > .modal-content,
#hocwpThemeModal.modal > .modal-caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

#hocwpThemeModal.modal .modal-footer {
    border-top: 1px solid #ddd;
    margin-top: 20px;
    text-align: right;
    border-radius: 0 0 5px 5px;
}

#hocwpThemeModal.modal .modal-footer .submit + .submit {
    margin-left: 5px;
}

#hocwpThemeModal.modal label {
    display: block;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 4px;
    font-style: italic;
}

#hocwpThemeModal.modal select {
    float: none;
}

#hocwpThemeModal.modal .form-row + .form-row {
    margin-top: 20px;
}

.compat-item .form-required .label span {
    display: inline-block;
    width: auto;
    float: none;
}

.compat-item .form-required .label span + .required {
    margin-left: 4px;
    color: #b32d2e;
}

.hocwp-theme .lat-long label {
    display: block;
}

.hocwp-theme .lat-long {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-flex;
    display: flex;
}

.hocwp-theme .lat-long > div {
    margin-right: 2%;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@-moz-keyframes zoom {
    from {
        -moz-transform: scale(0)
    }
    to {
        -moz-transform: scale(1)
    }
}

@-ms-keyframes zoom {
    from {
        -ms-transform: scale(0)
    }
    to {
        -ms-transform: scale(1)
    }
}

@-o-keyframes zoom {
    from {
        -o-transform: scale(0)
    }
    to {
        -o-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

#hocwpThemeModal.modal .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

#hocwpThemeModal.modal .inner .close {
    top: 5px;
    right: 8px;
    color: #666;
    font-size: 30px;
}

#hocwpThemeModal.modal .close:hover,
#hocwpThemeModal.modal .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 700px) {
    #hocwpThemeModal.modal .modal-content {
        width: 100%;
    }
}