.hocwp-theme .clearfix {
    display: block;
}

.hocwp-theme label + select + .chosen-container {
    margin-top: 4px;
}

.hocwp-theme fieldset {
    border: 1px solid #ddd;
    padding: 0 10px;
}

.hocwp-theme td > fieldset {
    border: none;
    padding: 0;
}

.hocwp-theme fieldset legend {
    margin-top: -5px;
    padding: 0 5px;
}

.hocwp-theme .clearfix:after,
.hocwp-theme .clearfix:before {
    content: "";
    display: table;
    clear: both;
}

.widget .hocwp-theme label + .clearfix {
    margin-top: 2px;
}

.widget .hocwp-theme > div {
    margin: 1em 0;
}

#adminmenu li.current + li a[href="themes.php?page=hocwp_theme&tab=extension"] {
    display: none;
}

.hocwp-theme .wp-picker-holder {
    position: absolute;
}

.hocwp-theme textarea[data-code-editor="1"] + .CodeMirror-wrap,
.widget textarea[data-code-editor="1"] + .CodeMirror-wrap {
    border: 1px solid #eee;
}

.menu-item .custom-fields.hocwp-theme {
    margin-bottom: 10px;
    overflow: hidden;
    clear: both;
    margin-right: 10px;
}

.menu-item .custom-fields.hocwp-theme > * {
    margin-top: 2px;
    margin-bottom: 5px;
}

.menu-item .custom-fields.hocwp-theme label {
    font-style: italic;
}

.menu-item .custom-fields.hocwp-theme .custom-sortable {
    margin-top: 20px;
    clear: both;
}

.menu-item .custom-fields.hocwp-theme .sortable-inner {
    margin: 10px 0;
    overflow: hidden;
}

.menu-item .custom-fields.hocwp-theme ul.sortable {
    width: 100%;
}

.menu-item .custom-fields.hocwp-theme .media-box {
    border: 1px solid #ddd;
    padding: 0 10px;
}

.link-php #poststuff .stuffbox .inside,
.link-add-php #poststuff .stuffbox .inside {
    padding: 8px 10px;
}