.hocwp-theme label + select + .chosen-container {
    margin-top: 4px;
}

.hocwp-theme fieldset {
    border: 1px solid #ddd;
    padding: 0 10px;
}

.hocwp-theme td > fieldset {
    border: none;
    padding: 0;
}

.hocwp-theme fieldset legend {
    margin-top: -5px;
    padding: 0 5px;
}

.hocwp-theme .clearfix {

}

.hocwp-theme .clearfix:after,
.hocwp-theme .clearfix:before {
    content: "";
    display: table;
    clear: both;
}

.widget .hocwp-theme label + .clearfix {
    margin-top: 2px;
}

.widget .hocwp-theme > div {
    margin: 1em 0;
}

#adminmenu li.current + li a[href="themes.php?page=hocwp_theme&tab=extension"] {
    display: none;
}