.hocwp-theme .settings-box,
.hocwp-theme .settings-box #nav,
.hocwp-theme .settings-box form {
    box-sizing: border-box;
}

.hocwp-theme .settings-box {
    background-color: #fcfcfc;
    margin-top: 10px;
}

.hocwp-theme .settings-box {
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
}

.hocwp-theme .settings-box .header {
    background: #00a0d2;
    border-bottom: 5px solid #0073aa;
}

.hocwp-theme .settings-box .header .inner {
    padding: 17px 20px;
}

.hocwp-theme .settings-box .header,
.hocwp-theme .settings-box .header h2 {
    color: #fff;
}

.hocwp-theme .settings-box .author-info,
.hocwp-theme .settings-box .header .theme-info {
    float: left;
}

.hocwp-theme .settings-box .core-version,
.hocwp-theme .settings-box .header .save-changes {
    float: right;
}

.hocwp-theme .settings-box #nav {
    float: left;
    width: 200px;
    background-color: #f2f2f2;
    border-right: 1px solid #dedede;
}

.hocwp-theme .settings-box #nav ul {
    margin: 0;
    padding: 0;
    border: none;
}

.hocwp-theme .settings-box #nav ul li {
    display: block;
    float: none;
    border-bottom: none;
    padding: 0;
    margin: 0;
}

.hocwp-theme .settings-box #nav ul li.active {
    border-right: none;
    margin-right: -1px;
}

.hocwp-theme .settings-box #nav li a {
    display: block;
    border: none;
    margin: 0;
    float: none;
    background: none;
    padding: 8px 10px;
    border-bottom: 1px solid #dedede;
    color: #000;
    opacity: 0.9;
    font-weight: 400;
}

.hocwp-theme .settings-box #nav li a .dashicons {
    margin-right: 2px;
    line-height: 23px;
    color: #999;
}

.hocwp-theme .settings-box .module-footer,
.hocwp-theme .settings-box #nav li a,
.hocwp-theme .settings-box .module-body {
    -webkit-box-shadow: inset 0 1px 0 #fcfcfc;
    -moz-box-shadow: inset 0 1px 0 #fcfcfc;
    box-shadow: inset 0 1px 0 #fcfcfc;
}

.hocwp-theme .settings-box #nav li:last-child {
    border-bottom: 1px solid #fcfcfc;
}

.hocwp-theme .settings-box #nav li:last-child {
    margin-bottom: 100px;
}

.hocwp-theme .settings-box #nav li:hover a {
    background: #e5e5e5;
    color: #777;
    opacity: 1;
}

.hocwp-theme .settings-box #nav li.active a {
    background: #fcfcfc;
    color: #555;
    opacity: 1;
    font-weight: 600;
}

.hocwp-theme .settings-box #nav li.active a .dashicons {
    color: #555;
}

.hocwp-theme .settings-box #nav + div {
    width: 100%;
    padding: 0 20px 20px;
}

.hocwp-theme .settings-box > .settings-content {
    float: right;
    width: calc(100% - 200px);
    padding: 0 20px;
    box-sizing: border-box;
}

.hocwp-theme .settings-box .site_icon img {
    max-height: 32px;
    width: auto;
}

.hocwp-theme .settings-box .module-footer,
.hocwp-theme .settings-box .module-body {
    border-style: solid;
    border-width: 0 1px 1px;
    border-color: #dedede;
}

.hocwp-theme .settings-box .module-body {
    display: flex;
}

.hocwp-theme .settings-box .module-footer {
    background: #f3f3f3;
    background: -moz-linear-gradient(top, #f3f3f3 0%, #e7e7e7 100%);
    background: -webkit-linear-gradient(top, #f3f3f3 0%, #e7e7e7 100%);
    background: linear-gradient(to bottom, #f3f3f3 0%, #e7e7e7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3f3f3', endColorstr='#e7e7e7', GradientType=0);
}

.hocwp-theme .settings-box,
.hocwp-theme .settings-box .module-footer {
    border-radius: 0 0 5px 5px;
}

.hocwp-theme .settings-box .module-footer {
    padding: 0 10px;
    color: #999;
}