#comments {
    color: #49525d;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.625;
}

.comments-area .comment-content,
#comments {
    clear: both;
}

.comments-area .comment-content:before,
#comments:before {
    content: '';
    display: table;
}

.comments-area .comment-list {
    border-top: 1px dotted #ccc;
    margin: 0;
    padding: 0;
}

.comments-area .comment-list li {
    list-style: none outside none;
}

.comments-area .comment-author .avatar {
    border-radius: 50%;
    float: left;
    margin-right: 15px;
}

.comments-area .comment-content {
    border: medium none;
    border-radius: 3px;
    margin-left: 0;
    margin-top: 20px;
    padding: 0;
}

.comments-area .comment-content p {
    margin-top: 0;
}

.comments-area .comment-content p:last-child {
    margin-bottom: 0;
}

.comments-area .comment-list li .comment-author {
    font-weight: 600;
    line-height: 19px;
    margin-bottom: 5px;
}

.comments-area .comment-list li .comment-author a {
    color: #49525d;
}

#cancel-comment-reply-link,
.comments-area .comment-reply-link {
    background-color: #eee;
    border-radius: 2px;
    color: #49525d;
    display: inline-block;
    line-height: 17px;
    padding: 8px 15px;
}

#cancel-comment-reply-link:hover,
.comments-area .comment-reply-link:hover {
    opacity: 0.75;
}

#cancel-comment-reply-link:hover {
    background-color: #f00;
}

#cancel-comment-reply-link {
    color: #fff;
    font-weight: 600;
    margin-left: 10px;
}

.comments-area .comment-body > .reply {
    margin: 10px 0;
    text-align: right;
}

.comment-respond .comment-form textarea,
.comment-respond .comment-form input[type="url"],
.comment-respond .comment-form input[type="email"],
.comment-respond .comment-form input[type="text"] {
    display: block;
    padding: 10px 15px;
}

.comment-respond .comment-form input[type="checkbox"] {
    display: inline-block;
    vertical-align: -1px;
    margin-right: 4px;
}

.comment .comment-awaiting-moderation {
    font-size: 13px;
    clear: both;
    text-align: left;
    color: #ddd;
}

.comment-list, .comment-list .children {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

li.comment {
    clear: both;
    list-style: outside none none;
    overflow: hidden;
    padding: 1.5rem 0;
    position: relative;
}

.comment-list > li.comment {
    border-bottom: 1px dotted #ccc;
    padding: 3rem 0 1.5rem;
}

.comment-list .children li.comment {
    border-top: 1px dotted #ccc;
    margin-top: 1.5rem;
    padding-left: 5%;
}

.comment-list .children li.comment:last-child {
    padding-bottom: 0;
}

.comment-list li.comment.bypostauthor {
    border-top: 4px solid;
    top: -1px;
}

.comment .comment-content > p:first-child {
    margin-top: 0;
}

.comment .comment-content p, .comment .comment-content blockquote {
    margin-bottom: 1.5rem;
}

.comment-respond textarea,
.comment-respond input {
    max-width: 100%;
}

.comment-respond textarea {
    width: 100%;
}

.comment-awaiting-moderation {
    background-color: #fafafa;
    margin-top: 15px;
    padding: 10px;
    border-radius: 5px;
    color: #ccc;
    border: 1px solid #f8f8f8;
    margin-bottom: 0;
}

.comment-respond input[type="text"],
.comment-respond input[type="email"],
.comment-respond input[type="url"] {
    min-width: 40%;
}

@media only screen and (max-width: 400px) {
    .comment-respond textarea,
    .comment-respond input[type="text"],
    .comment-respond input[type="email"],
    .comment-respond input[type="url"] {
        width: 100%;
        border-radius: 0;
    }
}