#comments {
    border-top: 3px double #e4e6e8;
}

.comments-area .comment-content,
#comments {
    clear: both;
}

.comments-area .comment-content:before,
#comments:before {
    content: '';
    display: table;
}

.comments-area .comment-list {
    margin: 0;
    padding: 0;
}

.comments-area .comment-list li {
    list-style: none outside none;
}

.comments-area .comment-author .avatar {
    border-radius: 50%;
    float: left;
    margin-right: 15px;
}

.comments-area .comment-content {
    border: 1px solid #e4e6e8;
    border-radius: 3px;
    margin-top: 20px;
    padding: 20px;
}

.comments-area .comment-content p {
    margin-top: 0;
}

.comments-area .comment-content p:last-child {
    margin-bottom: 0;
}

.comments-area .comment-body .comment-metadata {
    margin-top: 10px;
}

.comments-area .comment-list li .comment-author {
    color: #444;
    font-size: 17px;
    font-weight: 600;
}

.comments-area .comment-list li .comment-author a {
    color: #444;
}

.comments-area .comment-body .comment-metadata a {
    color: #848d95;
}

.comments-area .comment-body .comment-metadata a:hover {
    color: #3af;
}

#cancel-comment-reply-link,
.comments-area .comment-reply-link {
    background-color: #eee;
    border-radius: 2px;
    color: #555;
    display: inline-block;
    line-height: 17px;
    padding: 8px 15px;
}

#cancel-comment-reply-link:hover,
.comments-area .comment-reply-link:hover {
    opacity: 0.75;
}

#cancel-comment-reply-link {
    color: #fff;
    font-weight: 600;
    margin-left: 10px;
}

.comments-area .comment-body > .reply {
    margin: 10px 0;
    text-align: right;
}