abbr {
    text-decoration: none;
}

span.required {
    color: #dd4b39;
}

a:focus,
input:focus,
button:focus,
.icon:focus,
.svg-icon:focus,
.icon,
.svg-icon {
    outline: 0 none;
}

cite {
    color: #666;
}

blockquote {
    background-color: #f7f7f7;
    color: #666;
    margin: 0;
    padding: 0.75rem 1.25rem;
}

blockquote p:first-child, .entry-content blockquote p:first-child {
    margin: 0;
}

blockquote cite {
    display: block;
    margin-top: 1.5em;
}

blockquote cite::before {
    content: "— ";
}

#wp-calendar #next {
    text-align: right;
}

span.edit-link {
    margin-left: 5px;
}

.search-form:after,
.search-form:before,
.clearfix:after,
.clearfix:before {
    content: "";
    display: table;
    clear: both;
}

.loop article span.no-thumbnail {
    background-color: #fefefe;
    background-image: -webkit-gradient(linear, left bottom, right top, color-stop(0.07, #eee), color-stop(0.5, #fff), color-stop(1, #eee));
    background-image: -moz-linear-gradient(left bottom, #eee 7%, #fff 50%, #eee 100%);
}

.entry-content ul,
.entry-content ol {
    margin-left: 0;
}

.search-form {
    width: 100%;
}

.search-form label,
.search-form input[type="submit"] {
    float: left;
}

.search-form label {
    width: calc(100% - 100px);
}

.search-form input[type="search"],
.search-form input[type="text"] {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: 100%;
}

.search-form input[type="submit"] {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: none;
    width: 100px;
}

.search-form input[type="search"],
.search-form input[type="text"],
.search-form input[type="submit"] {
    line-height: 23px;
    padding: 5px 15px;
    font-size: 13px;
    max-width: 100%;
    height: 32px;
}

.page-content .search-form,
.entry-content .search-form {
    max-width: 500px;
}

.widget .widget-inner:empty {
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;
    display: none;
}

.widget .wp-post-image.alignleft {
    margin-right: 10px;
}

.widget .wp-post-image.alignright {
    margin-left: 10px;
}

.widget .entry-meta {
    color: #999;
    font-size: 13px;
}

.widget .entry-meta a {
    text-decoration: none;
}

.widget .entry-meta .comments-link {
    margin-left: 10px;
}

.hocwp-widget-top-commenters img {
    vertical-align: top;
}

.fixed {
    position: fixed;
    z-index: 9999;
}

.entry-content .post-pagination > * {
    display: inline-block;
    padding: 0 9px;
    margin-right: 4px;
    border-radius: 3px;
    border: solid 1px #c0c0c0;
    background: #e9e9e9;
    font-size: 0.875em;
    font-weight: 700;
    text-decoration: none;
    color: #717171;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
    line-height: 24px;
}

.entry-content .post-pagination > * {
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .8), 0 1px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .8), 0 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .8), 0 1px 3px rgba(0, 0, 0, 0.1);
}

.entry-content .post-pagination > a:hover {
    background: rgb(254, 254, 254);
    background: -moz-linear-gradient(270deg, rgba(254, 254, 254, 1) 1%, rgba(240, 240, 240, 1) 100%);
    background: -webkit-linear-gradient(270deg, rgba(254, 254, 254, 1) 1%, rgba(240, 240, 240, 1) 100%);
    background: linear-gradient(270deg, rgba(254, 254, 254, 1) 1%, rgba(240, 240, 240, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefe', endColorstr='#f0f0f0', GradientType=1);
}

.entry-content .post-pagination > .page-number {
    border: none;
    background: #616161;
    color: #f0f0f0;
    text-shadow: 0 0 3px rgba(0, 0, 0, .5);
}

.entry-content .post-pagination > .page-number {
    -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, .5), 0 1px 0 rgba(255, 255, 255, .8);
    -moz-box-shadow: inset 0 0 8px rgba(0, 0, 0, .5), 0 1px 0 rgba(255, 255, 255, .8);
    box-shadow: inset 0 0 8px rgba(0, 0, 0, .5), 0 1px 0 rgba(255, 255, 255, .8);
}

.entry-content li {
    margin-bottom: 5px;
}