abbr {
    text-decoration: none;
}

span.required {
    color: #dd4b39;
}

a:focus,
input:focus,
button:focus,
.icon:focus,
.svg-icon:focus,
.icon,
.svg-icon {
    outline: 0 none;
}

cite {
    color: #666;
}

blockquote {
    background-color: #f7f7f7;
    color: #666;
    margin: 0 0 1rem;
    padding: 0.75rem 1.25rem;
}

blockquote p:first-child, .entry-content blockquote p:first-child {
    margin: 0;
}

blockquote cite {
    display: block;
    margin-top: 1.5em;
}

blockquote cite::before {
    content: "— ";
}

#wp-calendar #next {
    text-align: right;
}

span.edit-link {
    margin-left: 5px;
}

.search-form:after,
.search-form:before,
.clearfix:after,
.clearfix:before {
    content: "";
    display: table;
    clear: both;
}

.loop-posts .entry span.no-thumbnail,
.loop article span.no-thumbnail {
    background-color: #fefefe;
    background-image: -webkit-gradient(linear, left bottom, right top, color-stop(0.07, #eee), color-stop(0.5, #fff), color-stop(1, #eee));
    background-image: -moz-linear-gradient(left bottom, #eee 7%, #fff 50%, #eee 100%);
}

.loop-posts .entry span.no-thumbnail,
.loop article span.no-thumbnail {
    display: inline-block;
}

.loop .hocwp-post .post-title {
    clear: none;
}

.entry-content ul,
.entry-content ol {
    margin-left: 0;
}

.entry-content > form {
    margin-bottom: 20px;
}

.entry-summary p:first-child,
.entry-content p:first-child {
    margin-top: 0;
}

p > ins > br {
    display: none;
}

.search-form {
    width: 100%;
}

.search-form label,
.search-form input[type="submit"] {
    float: left;
}

.search-form label {
    width: calc(100% - 100px);
}

.search-form input[type="search"],
.search-form input[type="text"] {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: 100%;
}

.search-form input[type="submit"] {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: none;
    width: 100px;
}

.search-form input[type="search"],
.search-form input[type="text"],
.search-form input[type="submit"] {
    line-height: 23px;
    padding: 5px 15px;
    font-size: 13px;
    max-width: 100%;
    height: 32px;
}

.page-content .search-form,
.entry-content .search-form {
    max-width: 500px;
}

.widget .widget-inner:empty {
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;
    display: none;
}

.widget .wp-post-image.alignleft {
    margin-right: 10px;
}

.widget .wp-post-image.alignright {
    margin-left: 10px;
}

.widget .entry-meta {
    color: #999;
    font-size: 13px;
}

.widget .entry-meta a {
    text-decoration: none;
}

.widget .entry-meta .comments-link {
    margin-left: 10px;
}

.hocwp-widget-top-commenters img {
    vertical-align: top;
}

.fixed {
    position: fixed;
    z-index: 9999;
}

.entry-content .post-pagination > * {
    display: inline-block;
    padding: 0 9px;
    margin-right: 4px;
    border-radius: 3px;
    border: solid 1px #c0c0c0;
    background: #e9e9e9;
    font-size: 0.875em;
    font-weight: 700;
    text-decoration: none;
    color: #717171;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
    line-height: 24px;
}

.entry-content .post-pagination > * {
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .8), 0 1px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .8), 0 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .8), 0 1px 3px rgba(0, 0, 0, 0.1);
}

.entry-content .post-pagination > a:hover {
    background: rgb(254, 254, 254);
    background: -moz-linear-gradient(270deg, rgba(254, 254, 254, 1) 1%, rgba(240, 240, 240, 1) 100%);
    background: -webkit-linear-gradient(270deg, rgba(254, 254, 254, 1) 1%, rgba(240, 240, 240, 1) 100%);
    background: linear-gradient(270deg, rgba(254, 254, 254, 1) 1%, rgba(240, 240, 240, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefe', endColorstr='#f0f0f0', GradientType=1);
}

.entry-content .post-pagination > .page-number {
    border: none;
    background: #616161;
    color: #f0f0f0;
    text-shadow: 0 0 3px rgba(0, 0, 0, .5);
}

.entry-content .post-pagination > .page-number {
    -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, .5), 0 1px 0 rgba(255, 255, 255, .8);
    -moz-box-shadow: inset 0 0 8px rgba(0, 0, 0, .5), 0 1px 0 rgba(255, 255, 255, .8);
    box-shadow: inset 0 0 8px rgba(0, 0, 0, .5), 0 1px 0 rgba(255, 255, 255, .8);
}

.entry-content li {
    margin-bottom: 10px;
}

.entry-content fieldset {
    padding-left: 20px;
    padding-right: 20px;
    border-color: #eee;
    border-radius: 5px;
}

.widget select,
.entry-content select,
.entry-content input[type="text"],
.entry-content input[type="email"],
.entry-content input[type="url"],
.entry-content input[type="password"],
.entry-content input[type="search"],
.entry-content input[type="number"],
.entry-content input[type="tel"],
.entry-content input[type="range"],
.entry-content input[type="date"],
.entry-content input[type="month"],
.entry-content input[type="week"],
.entry-content input[type="time"],
.entry-content input[type="datetime"],
.entry-content input[type="datetime-local"],
.entry-content input[type="color"], textarea {
    padding: 5px 10px;
}

.entry-content input[type="checkbox"],
.entry-content input[type="radio"] {
    margin-bottom: 10px;
    vertical-align: -1px;
    margin-right: 2px;
}

.entry-content input[type="file"] {
    background: #eee;
    padding: 5px;
    border: 1px solid #ddd;
}

.entry-content th,
.entry-content td,
.entry-content table {
    border: 1px solid #ddd;
}

.entry-content th,
.entry-content td {
    padding: 5px 10px;
    text-align: left;
}

.entry-content button,
.entry-content input[type="button"],
.entry-content input[type="reset"],
.entry-content input[type="submit"]:not(.search-submit) {
    padding: 10px 20px;
    border-color: #d5d5d5;
}

.entry-content button:hover,
.entry-content input[type="button"]:hover,
.entry-content input[type="reset"]:hover,
.entry-content input[type="submit"]:hover {
    background-color: #eee;
}

.entry-content select {
    font-size: 14px;
    border-radius: 3px;
}

button.back-to-top {
    position: fixed;
    right: 10px;
    bottom: 40px;
    z-index: 499;
    display: none;
    border: 1px solid #ddd;
}

button.back-to-top:hover {
    background-color: #f5f5f5;
    border-color: #eee;
    color: #999;
}

.entry-content .wp-video + p {
    margin-top: 1.5em;
}

button[aria-expanded="false"] {
    display: none;
}

.hocwp-theme > .site, .container {
    max-width: 100%;
}

.site-title img {
    display: block;
}

.mobile-menu {
    display: none;
}

.sub-menu {
    position: absolute;
    min-width: 200px;
    display: none;
    z-index: 499;
}

.menu-item-has-children {
    position: relative;
}

.menu-item-has-children:hover > .sub-menu {
    display: block;
}

.sub-menu .sub-menu {
    left: 100%;
    top: 0;
}

.menu.hocwp-menu,
div.menu > ul {
    margin: 0;
    padding: 0;
}

.menu.hocwp-menu li,
div.menu > ul li {
    list-style: none;
}

.menu.hocwp-menu > li,
div.menu > ul > li {
    display: inline-block;
}

.widget .menu li {
    display: block;
}

.menu.hocwp-menu > li > a,
div.menu > ul > li > a {
    padding-left: 20px;
    padding-right: 20px;
}

.widget .menu.hocwp-menu > li > a,
.widget div.menu > ul > li > a {
    padding-left: 0;
    padding-right: 0;
}

.widget .menu li a {

}

.widget ins *,
.widget ins {
    max-width: 100%;
}

.menu.hocwp-menu li a,
div.menu li a {
    display: block;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.widget_media_image {
    text-align: center;
}

.sidebar-position-left .content-area + .sidebar,
.sidebar-position-right .content-area {
    float: left;
}

.sidebar-position-left .content-area,
.sidebar-position-right .content-area + .sidebar {
    float: right;
}

@media only screen and (max-width: 1024px) {
    .widget_media_image img {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}

.google-auto-placed {
    margin-top: 15px;
    margin-bottom: 15px;
}