.mobile-menu ul {
    margin: 0;
    padding: 0;
}

.mobile-menu > .menu {
    position: fixed;
    width: 300px;
    top: 0;
    left: -300px;
    background-color: #333;
    bottom: 0;
    height: 100%;
    z-index: 9999;
    overflow-x: hidden;
    overflow-y: auto;
}

.mobile-menu.position-right .menu {
    left: auto;
    right: -300px;
}

.mobile-menu > .menu-toggle {
    display: inline-block;
    width: 47px;
    background: none;
    border: none;
    color: #fff;
    height: 41px;
}

.site-header .mobile-menu ul.menu li.menu-item-has-children ul.sub-menu,
.mobile-menu > .menu,
.mobile-menu > .menu-toggle[aria-expanded="true"] .icon-bars,
.mobile-menu > .menu-toggle .icon-close {
    display: none;
}

.mobile-menu > .menu-toggle .svg-icon {
    fill: #fff;
}

.mobile-menu > .menu-toggle[aria-expanded="true"] {
    margin-left: 300px;
    height: 44px;
}

.mobile-menu.position-right > .menu-toggle[aria-expanded="true"] {
    margin-left: 0;
    margin-right: 300px;
}

.mobile-menu > .menu li a,
.site-header .mobile-menu ul.menu li.menu-item-has-children ul.sub-menu[aria-expanded="true"],
.mobile-menu > .menu li,
.mobile-menu > .menu-toggle[aria-expanded="true"] .icon-close,
.mobile-menu ul[aria-expanded="true"] {
    display: block;
}

.mobile-menu ul[aria-expanded="true"] {
    left: 0;
}

.mobile-menu.position-right ul[aria-expanded="true"] {
    left: auto;
    right: 0;
}

.mobile-menu > .menu-toggle .icon-close {
    width: 28px;
}

.admin-bar .mobile-menu > .menu {
    top: 32px;
    max-height: calc(100% - 32px);
}

.mobile-menu > .menu li {
    float: none;
    border-bottom: 1px solid #222;
    width: 100%;
    text-align: left;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    border-right: none;
    border-left: none;
}

.mobile-menu > .menu .sub-menu li:last-child > a,
.mobile-menu > .menu .sub-menu li:last-child {
    border-bottom: none;
}

.mobile-menu > .menu .sub-menu {
    border-top: 1px solid #222;
}

.mobile-menu > .menu li a {
    border-top: 1px solid #484848;
    color: #fff;
    padding: 0 10px;
    text-indent: inherit;
    background: none;
    width: auto;
    height: auto;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
}

.mobile-menu > .menu li:last-child > a {
    border-bottom: 1px solid #222;
    border-left: none;
    border-right: none;
}

.mobile-menu > .menu li:last-child {
    border-bottom-color: #484848;
}

.mobile-menu > .menu li:first-child {
    border-top: 1px solid #222;
    border-left: none;
    border-right: none;
}

.mobile-menu > .menu .sub-menu li:first-child {
    border-top: none;
}

.site-header .mobile-menu ul.menu li.menu-item-has-children ul.sub-menu {
    position: relative;
    width: 100%;
    max-width: 100%;
    min-width: 0;
    background: none;
}

.mobile-menu > .menu ul li:last-child a,
.mobile-menu ul ul li:last-child a {

}

.mobile-menu ul ul li:last-child {
    border-bottom: none;
}

.mobile-menu ul ul li a {

}

.mobile-menu .menu-item-has-children > a span.arrow {
    content: "";
    color: #fff;
    position: absolute;
    right: 8px;
    font-size: 44px;
    width: 10px;
    height: 10px;
    border-style: solid;
    top: 20px;
    border-width: 6px 0 6px 6px;
    border-color: transparent transparent transparent #fff;
}

.mobile-menu .menu-item-has-children > a[aria-expanded="true"] span.arrow {
    transform: rotate(90deg);
    top: 25px;
}

.mobile-menu .menu-item-has-children > a[aria-expanded="false"] {
    background: none;
}

.mobile-menu .menu li a {
    line-height: 50px;
}

.mobile-menu input {
    border-radius: 0;
}

.mobile-menu > .menu li.search-item,
.mobile-menu .search-item {
    padding: 5px 10px;
}

.mobile-menu .search-field {
    border-right: none;
}

.mobile-menu ul ul {
    /*border-top: 1px solid #222;*/
}

.site-header .mobile-menu ul li a i,
.mobile-menu ul li a i {
    display: inline-block;
    float: left;
    line-height: inherit;
    margin-right: 8px;
    margin-bottom: 0;
}

.site-header .mobile-menu ul ul.sub-menu li {
    margin-top: 0;
    margin-bottom: 0;
}

.mobile-menu.position-right .menu-toggle {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -20px;
    z-index: 499;
}

button.menu-toggle[aria-expanded="true"] {
    padding-left: 9px;
}

@media only screen and (max-width: 780px) {
    .admin-bar .mobile-menu > .menu {
        top: 46px;
    }
}

@media only screen and (max-width: 600px) {

}

@media only screen and (max-width: 360px) {
    .mobile-menu > .menu {
        width: 250px;
        left: -250px;
    }

    .mobile-menu.position-right .menu {
        right: -250px;
        left: auto;
    }

    .mobile-menu > .menu-toggle[aria-expanded="true"] {
        margin-left: 250px;
    }

    .mobile-menu.position-right > .menu-toggle[aria-expanded="true"] {
        margin-left: 0;
        margin-right: 250px;
    }
}

@media only screen and (max-width: 338px) {
    .mobile-menu.toggled {
        position: fixed;
        left: 0;
        right: 0;
        background-color: #222;
        z-index: 99999999;
        bottom: 0;
        top: 0;
    }

    .mobile-menu.toggled > .menu {
        width: 100%;
        margin-top: 7px;
        position: static;
    }

    .mobile-menu.toggled > .menu-toggle[aria-expanded="true"] {
        position: static;
        margin: 7px;
    }

    .mobile-menu.toggled.position-right > .menu-toggle[aria-expanded="true"] {
        float: right;
    }
}