:root {
    --mobile-menu-color: #fff;
    --mobile-menu-background: #333;
    --mobile-menu-background-light: #404040;
    --mobile-menu-border-color-dark: #222;
    --mobile-menu-border-color-light: #484848;
}

.mobile-menu ul {
    margin: 0;
    padding: 0;
}

.mobile-menu > .menu {
    position: fixed;
    width: 300px;
    top: 0;
    left: -300px;
    background-color: var(--mobile-menu-background);
    bottom: 0;
    height: 100%;
    z-index: 99999;
    overflow-x: hidden;
    overflow-y: auto;
    margin-left: 0 !important;
}

.mobile-menu.full-width > .menu {
    width: 100% !important;
    right: 100%;
    left: auto;
}

.mobile-menu.position-right .menu {
    left: auto;
    right: -300px;
    margin-right: 0 !important;
}

.mobile-menu.full-width.position-right .menu {
    right: auto;
    left: 100%;
}

.mobile-menu > .menu-toggle {
    display: inline-block;
    width: 47px;
    background: none;
    border: none;
    color: var(--mobile-menu-color);
    height: 41px;
}

.mobile-menu.has-close > .menu:before,
.mobile-menu.has-close > .menu:after,
.mobile-menu > .menu-toggle span[class*="line-"] {
    width: 18px;
    height: 2px;
    display: block;
    background: #fff;
    border-radius: 2px;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}

.mobile-menu > .menu-toggle.icon-burger-3 span[class*="line-"],
.mobile-menu > .menu-toggle.icon-burger span[class*="line-"] {
    width: 25px;
}

.mobile-menu > .menu-toggle.icon-burger span[class*="line-"] {
    display: none;
}

.mobile-menu > .menu-toggle.icon-burger span.line-3,
.mobile-menu > .menu-toggle.icon-burger span[class*="line-"]:last-child,
.mobile-menu > .menu-toggle.icon-burger span[class*="line-"]:first-child {
    display: block;
}

.mobile-menu > .menu-toggle.icon-burger-3:not([aria-expanded="true"]) span.line-3,
.mobile-menu > .menu-toggle.icon-burger-3:not([aria-expanded="true"]) span.line-2 {
    width: 20px;
    margin-top: 5px;
}

.mobile-menu > .menu-toggle.icon-burger-3:not([aria-expanded="true"]) span.line-3 {
    width: 13px;
}

.mobile-menu > .menu-toggle.icon-burger:not([aria-expanded="true"]) span.line-3 {
    width: 19px;
    margin-top: 7px;
}

.mobile-menu > .menu-toggle span[class*="line-"]:not(:first-child) {
    margin-top: 3px;
}

.site-header .mobile-menu ul.menu li.menu-item-has-children ul.sub-menu,
.mobile-menu > .menu,
.mobile-menu > .menu-toggle[aria-expanded="true"] .icon-bars,
.mobile-menu > .menu-toggle .icon-close {
    display: none;
}

.mobile-menu > .menu-toggle .svg-icon {
    fill: var(--mobile-menu-color);
    margin-left: auto;
    margin-right: auto;
}

.mobile-menu > .menu-toggle[aria-expanded="true"] {
    margin-left: 300px;
    height: 44px;
    position: absolute;
    z-index: 999999;
}

.mobile-menu > .menu-toggle[aria-expanded="true"].icon-bars {
    position: relative;
}

.mobile-menu > .menu-toggle[aria-expanded="true"] span[class*="line-"] {
    height: 20px;
    width: 2px;
    position: absolute;
    left: 23px;
    border-radius: 1px;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.mobile-menu > .menu-toggle.icon-burger[aria-expanded="true"] span[class*="line-"] {
    height: 25px;
}

.mobile-menu > .menu:before,
.mobile-menu > .menu-toggle[aria-expanded="true"] span[class*="line-"]:first-child {
    top: 11px;
    transform: rotate(-135deg);
}

.mobile-menu > .menu:after,
.mobile-menu > .menu-toggle[aria-expanded="true"] span.line-3 {
    transform: rotate(135deg);
    top: 11px;
    margin-top: 0;
}

.mobile-menu > .menu-toggle[aria-expanded="true"] span.line-2 {
    display: none;
}

.mobile-menu.position-right > .menu-toggle[aria-expanded="true"] {
    margin-left: 0;
    margin-right: 300px;
}

.mobile-menu.displaying-stretch > .menu-toggle[aria-expanded="true"] {
    display: none !important;
    opacity: 0;
    visibility: hidden;
}

.mobile-menu > .menu li a,
.site-header .mobile-menu ul.menu li.menu-item-has-children ul.sub-menu[aria-expanded="true"],
.mobile-menu > .menu li,
.mobile-menu > .menu-toggle[aria-expanded="true"] .icon-close,
.mobile-menu ul[aria-expanded="true"] {
    display: block;
}

.mobile-menu ul[aria-expanded="true"] {
    left: 0;
}

.mobile-menu.position-right ul[aria-expanded="true"] {
    left: auto;
    right: 0;
}

.mobile-menu.displaying-stretch ul[aria-expanded="true"] {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    max-width: 100%;
}

.mobile-menu > .menu-toggle .icon-close {
    width: 28px;
}

.admin-bar .mobile-menu > .menu {
    top: 32px;
    max-height: calc(100% - 32px);
}

.mobile-menu > .menu li {
    float: none;
    width: 100%;
    text-align: left;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    border-right: none;
    border-left: none;
    margin-bottom: 0;
}

.mobile-menu > .menu li:last-child {
    margin-bottom: 50px;
}

.mobile-menu > .menu li a {
    color: var(--mobile-menu-color);
    padding: 0 10px;
    text-indent: inherit;
    background: none;
    width: auto;
    height: auto !important;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    text-align: left !important;
}

.mobile-menu > .menu li:last-child > a {
    border-left: none;
    border-right: none;
}

.mobile-menu > .menu li:first-child {
    border-left: none;
    border-right: none;
}

.site-header .mobile-menu ul.menu li.menu-item-has-children ul.sub-menu {
    position: relative;
    width: 100%;
    max-width: 100%;
    min-width: 0;
}

.mobile-menu .menu-item-has-children > a span.arrow {
    content: "";
    color: var(--mobile-menu-color);
    position: absolute;
    right: 8px;
    font-size: 44px;
    width: 10px;
    border-style: solid;
    top: 50%;
    border-width: 6px 0 6px 6px;
    border-color: transparent transparent transparent var(--mobile-menu-color);
    transform: translate(0, -50%);
    z-index: 99999;
}

.mobile-menu .menu-item-has-children > a[aria-expanded="true"] span.arrow {
    transform: rotate(90deg);
    margin-top: -4px;
}

.mobile-menu .menu-item-has-children > a[aria-expanded="false"] {
    background: none;
}

.mobile-menu .menu-item.label-item > * {
    align-items: center;
    vertical-align: middle;
}

.mobile-menu .menu-item.label-item > div > *:last-child {
    margin-left: auto;
    margin-right: 30px !important;
}

.mobile-menu .menu-item.label-item .close-menu {
    font-size: 27px;
    font-weight: 400;
    padding: 5px;
    border: 1px solid #fff;
    line-height: 1;
    margin: 10px;
    border-radius: 5px;
    width: 40px;
    height: 40px !important;
    text-align: center !important;
    display: block;
}

.mobile-menu .menu-item.label-item .close-menu:hover,
.mobile-menu .menu-item.label-item .close-menu:focus {
    background-color: #555;
}

.mobile-menu .menu-item.label-item .label {
    text-transform: uppercase;
    color: #fff;
    font-size: 17px;
    font-weight: 400;
    max-width: calc(100% - 60px);
    flex-basis: calc(100% - 60px);
}

.mobile-menu .menu li a {
    line-height: 50px;
}

.mobile-menu input {
    border-radius: 0;
}

.mobile-menu > .menu li.search-item,
.mobile-menu .search-item {
    padding: 8px 10px;
    position: relative;
}

.mobile-menu > .menu li.search-item:after {
    content: "";
    border-bottom: 1px solid var(--mobile-menu-border-color-dark);
    width: 100%;
    height: 1px;
    bottom: 0;
    z-index: 499;
    position: absolute;
    left: 0;
    right: 0;
}

.mobile-menu .search-field {
    border-right: none;
}

.site-header .mobile-menu ul li a i,
.mobile-menu ul li a i {
    display: inline-block;
    float: left;
    line-height: inherit;
    margin-right: 8px;
    margin-bottom: 0;
}

.mobile-menu ul li a {
    overflow: hidden;
}

.site-header .mobile-menu ul ul.sub-menu li {
    margin-top: 0;
    margin-bottom: 0;
}

.mobile-menu.position-right .menu-toggle {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -20px;
    z-index: 999999;
}

.mobile-menu.toggled .menu-overlay-bg {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.7);
}

.mobile-menu.displaying-stretch.toggled .menu-overlay-bg {
    display: none;
    opacity: 0;
    visibility: hidden;
}

button.menu-toggle[aria-expanded="true"] {
    padding-left: 9px;
}

@media only screen and (min-width: 601px) and (max-width: 780px) {
    .admin-bar .mobile-menu > .menu {
        top: 46px;
        max-height: calc(100% - 46px);
    }
}

@media only screen and (max-width: 600px) {
    .admin-bar .mobile-menu > .menu {
        top: 0;
        bottom: 0;
        max-height: 100%;
    }
}

@media only screen and (max-width: 600px) {

}

@media only screen and (max-width: 360px) {
    .mobile-menu > .menu {
        width: 250px;
        left: -250px;
    }

    .mobile-menu.position-right .menu {
        right: -250px;
        left: auto;
    }

    .mobile-menu > .menu-toggle[aria-expanded="true"] {
        margin-left: 250px;
    }

    .mobile-menu.position-right > .menu-toggle[aria-expanded="true"] {
        margin-left: 0;
        margin-right: 250px;
    }
}

@media only screen and (max-width: 338px) {
    .mobile-menu.toggled {
        position: fixed;
        left: 0;
        right: 0;
        z-index: 999999;
        bottom: 0;
        top: 0;
    }

    .mobile-menu.toggled > .menu {
        width: 100%;
        margin-top: 7px;
        position: static;
    }

    .mobile-menu.toggled > .menu-toggle[aria-expanded="true"] {
        position: static;
        margin: 7px;
    }

    .mobile-menu.toggled.position-right > .menu-toggle[aria-expanded="true"] {
        float: right;
    }

    .mobile-menu.toggled .menu-overlay-bg {
        display: none;
        opacity: 0;
        visibility: hidden;
    }

    .mobile-menu.toggled {
        background-color: var(--mobile-menu-background);
    }

    .mobile-menu > .menu li:first-child {
        border-top: 1px solid var(--mobile-menu-border-color-dark);
    }

    .mobile-menu > .menu li:first-child:before {
        content: "";
        border-bottom: 1px solid var(--mobile-menu-border-color-light);
        width: 100%;
        height: 1px;
        z-index: 499;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
    }

    .mobile-menu > .menu li.search-item, .mobile-menu .search-item {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.mobile-menu .sub-menu {
    background-color: var(--mobile-menu-background-light);
}

.mobile-menu .sub-menu > li:not(:first-child),
.mobile-menu > li {
    border-bottom: 1px solid var(--mobile-menu-border-color-light);
}

.mobile-menu li > a[aria-expanded="true"],
.mobile-menu .sub-menu > li:not(:last-child) > a,
.mobile-menu .sub-menu > li:last-child,
.mobile-menu > li > a {
    border-bottom: 1px solid var(--mobile-menu-border-color-dark);
}

.mobile-menu .sub-menu > li:first-child + li,
.mobile-menu .sub-menu > li:first-child {
    border-top: 1px solid var(--mobile-menu-border-color-light);
}

.mobile-menu .sub-menu[aria-expanded="true"] .sub-menu[aria-expanded="true"] > li:last-child {

}

.mobile-menu.has-close > .menu {
    padding-top: 50px;
}

.mobile-menu.has-close > .menu:before {
    content: "";
}

.mobile-menu.has-close > .menu:after {
    content: "";
}

.mobile-menu.has-close > .menu:before,
.mobile-menu.has-close > .menu:after {
    position: absolute;
    top: 22px;
    right: 25px;
    z-index: 499;
}