.hocwp-pagination {
    padding: 0;
    width: 100%;
    margin: 20px 0;
    line-height: 33px;
}

.hocwp-pagination:before,
.hocwp-pagination:after {
    content: "";
    display: table;
    clear: both;
}

.hocwp-pagination li {
    list-style: none outside none;
    float: left;
    margin-bottom: 5px;
    display: inline-block;
}

.hocwp-pagination li:not(:first-child) {
    margin-left: 5px;
}

.hocwp-pagination li .page-numbers {
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
    background: -webkit-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed', GradientType=0);
}

.hocwp-pagination li .page-numbers {
    border: 1px solid #ddd;
    padding: 5px 10px;
    font-size: 13px;
    line-height: 17px;
    box-shadow: none;
    text-decoration: none;
}

.hocwp-pagination li a:hover,
.hocwp-pagination li .page-numbers.current {
    background: #93cede;
    background: -moz-linear-gradient(top, #93cede 0%, #75bdd1 41%, #49a5bf 100%);
    background: -webkit-linear-gradient(top, #93cede 0%, #75bdd1 41%, #49a5bf 100%);
    background: linear-gradient(to bottom, #93cede 0%, #75bdd1 41%, #49a5bf 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#93cede', endColorstr='#49a5bf', GradientType=0);
}

.hocwp-pagination li a:hover,
.hocwp-pagination li .page-numbers.current {
    color: #fff;
    border-color: #309dcf;
    text-decoration: none;
    box-shadow: none;
}