.hocwp-theme .sortable {
    box-sizing: border-box;
}

.hocwp-theme ul.sortable:not(.sub-sortable) {
    background-color: #f5f5f5;
    border: 1px solid #eaeaea;
    float: left;
    margin: 0 2% 0 0;
    padding: 10px;
    width: 49%;
}

.widget .hocwp-theme ul.sortable:not(.sub-sortable) {

}

.widget .hocwp-theme .clearfix > ul.sortable:not(.connect-lists) {
    width: 100%;
    margin-right: 0;
}

.hocwp-theme ul.sortable:not(.sub-sortable),
.hocwp-theme-sortable {
    min-height: 100px;
}

.sortable .sub-sortable {
    min-height: 20px;
    border: 1px dashed #ddd;
    padding: 10px;
}

.hocwp-theme ul.sortable:nth-child(2) {
    margin-right: 0;
}

.hocwp-theme ul.sortable.connected-result {
    background-color: #fbf9ef;
    border-color: #fcefa1;
}

.hocwp-theme ul.sortable.connected-result + input + .description,
.hocwp-theme ul.sortable.connected-result + .description {
    clear: both;
    padding-top: 5px;
}

.hocwp-theme ul.sortable li.has-child > a,
.hocwp-theme ul.sortable li:not(.has-child) {
    background-color: #eee;
    border: 1px solid #ddd;
    cursor: pointer;
    margin-bottom: 10px;
    padding: 10px;
}

.hocwp-theme ul.sortable li.has-child {
    margin-bottom: 10px;
}

.hocwp-theme ul.sortable li.has-child > a {
    display: block;
    text-decoration: none;
    cursor: default;
    background-color: #f8f8f8;
    color: #bbb;
}

.hocwp-theme ul.sortable li:last-child {
    margin-bottom: 0;
}

.hocwp-theme ul.sortable li.ui-state-highlight {
    background-color: #fcf8e3;
    border-color: #ffee92;
}